<div class="container" style="box-shadow:0 0 5px #c5c5c5; padding: 0 15px 20px 15px; background:white;">
    <div class="panel-body">
        <br><br>
        <p></p>

        <div class="row" id="BackImage">

            <br>
            <h3 class="DashCompanyName">My Application</h3>
            <br>
        </div>
        <br>

        <div class="table-responsive" style="background-color:white">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <div class="dt-buttons"> <button class="dt-button buttons-csv buttons-html5" tabindex="0"
                        aria-controls="DataTables_Table_0"><span>CSV</span></button> <button
                        class="dt-button buttons-excel buttons-html5" tabindex="0"
                        aria-controls="DataTables_Table_0"><span>Excel</span></button> <button
                        class="dt-button buttons-pdf buttons-html5" tabindex="0"
                        aria-controls="DataTables_Table_0"><span>PDF</span></button> <button
                        class="dt-button buttons-print" tabindex="0"
                        aria-controls="DataTables_Table_0"><span>Print</span></button> </div>
                <div class="dataTables_length" id="DataTables_Table_0_length"><label>Display <select
                            name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="75">75</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                        </select> records</label></div>
                <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search"
                            class="" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                <table class="table table-striped table-bordered customTable dataTable no-footer"
                    style="font-size:small" id="DataTables_Table_0" role="grid"
                    aria-describedby="DataTables_Table_0_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Ref No.">Ref No.</th>
                            <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                colspan="1" aria-sort="descending"
                                aria-label="Company Name : activate to sort column ascending" style="width: 277.612px;">
                                Company Name </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Year: activate to sort column ascending" style="width: 33.0875px;">Year</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Proposal Approved: activate to sort column ascending"
                                style="width: 71.2875px;">Proposal <br>Approved</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Report Approved: activate to sort column ascending"
                                style="width: 71.2875px;">Report<br> Approved</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Request Created: activate to sort column ascending"
                                style="width: 133.15px;">Request Created</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Status: activate to sort column ascending" style="width: 51.3px;">Status
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label=": activate to sort column ascending" style="width: 4.3px;"></th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label=""
                                style="width: 241.113px;"></th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr role="row" class="odd">
                            <td><b class="text-danger">345041621103430</b></td>
                            <td class="sorting_1"><b class="text-primary">Bisi and Sons (bisipopoola001@gmail.com)</b>
                            </td>
                            <td>2022</td>
                            <td>YES</td>
                            <td>NO</td>
                            <td>4/16/2021 10:34:30 AM</td>
                            <td>
                                <b class="text-success">Approved</b>

                            </td>
                            <td>

                            </td>
                            <td>

                                <div class="btn-group">

                                    <a href="/Company/ApplicationDetails/TWc9PQ==" class="btn btn-success btn-sm"><i
                                            class="fas fa-eye"></i> View</a>
                                    <a class="btn btn-sm btn-warning waves-effect waves-light" target="_blank"
                                        href="/RequestProposals/ViewLetter/TWc9PQ==/_view"><i class="fa fa-file"> </i>
                                        View Application</a>
                                    <a class="btn btn-sm btn-outline-danger waves-effect waves-light" target="_blank"
                                        href="/RequestProposals/ViewLetter/TWc9PQ==/_download"><i
                                            class="fa fa-file-download"> </i> Download</a>


                                </div>

                            </td>
                        </tr>
                    </tbody>

                </table>
                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing page
                    1 of 1</div>
                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a
                        class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0"
                        tabindex="0" id="DataTables_Table_0_previous">Previous</a><span><a
                            class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1"
                            tabindex="0">1</a></span><a class="paginate_button next disabled"
                        aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"
                        id="DataTables_Table_0_next">Next</a></div>
            </div>
        </div>




        <br>
        <br>
    </div>
</div>

<br><br><br>