<div class="st-desk">
  <h2 class="text-center">Category(s) and Phase(s) Settings</h2>
  <div class="col-md-4 card" style="float: left; padding: 1em">
    <div>
      <h3 style="float: left">All Categories</h3>
      <button
        class="btn btn-success btn-sm"
        style="float: right"
        (click)="open(mymodal)"
      >
        <i class="fa fa-plus"></i>
        Add New
      </button>
    </div>
    <generic-table
      [table_headers]="categoryTableHeaders"
      [table_keys]="categoryTableKeys"
      [table_content]="categories"
    ></generic-table>
  </div>
  <div
    class="col-md-7 card"
    style="float: right; margin-left: 2px; padding: 1em"
  >
    <div>
      <h3 style="float: left">All Phases</h3>
      <button
        class="btn btn-success btn-sm"
        style="float: right"
        (click)="open(myPhasemodal)"
      >
        <i class="fa fa-plus"></i>
        Add New
      </button>
    </div>
    <generic-table
      [table_headers]="phasesTableHeaders"
      [table_keys]="phasesTableKeys"
      [table_content]="phases"
    ></generic-table>
  </div>
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add New Category</h4>
      <button
        type="button"
        class="close btn-danger"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="createModule()">
        <div class="fomr-group">
          <label>Name</label>
          <input name="Name" formControlName="Name" class="form-control" />
        </div>
        <div class="fomr-group" style="margin-bottom: 10px">
          <label>Short Code</label>
          <input name="Code" formControlName="Code" class="form-control" />
        </div>
        <div class="fomr-group" style="margin-bottom: 10px">
          <label>Description</label>
          <input
            name="Description"
            formControlName="Description"
            class="form-control"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark btn-sm"
        (click)="createModule()"
      >
        Create
      </button>
    </div>
  </ng-template>

  <ng-template #myPhasemodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add New Phase</h4>
      <button
        type="button"
        class="close btn-danger"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="createPhase()">
        <div class="fomr-group" style="margin-bottom: 10px">
          <label>Short Code</label>
          <input name="Code" formControlName="Code" class="form-control" />
        </div>
        <div class="fomr-group" style="margin-bottom: 10px">
          <label>Name</label>
          <input
            name="ShortName"
            formControlName="ShortName"
            class="form-control"
          />
        </div>
        <div class="fomr-group" style="margin-bottom: 10px">
          <label>Description</label>
          <input
            name="Description"
            formControlName="Description"
            class="form-control"
          />
        </div>
        <div class="fomr-group" style="margin-bottom: 10px">
          <label>Category</label>
          <select
            name="CategoryId"
            formControlName="CategoryId"
            class="form-control"
          >
            <option *ngFor="let cat of categories" [ngValue]="cat.moduleId">
              {{ cat.name }}
            </option>
          </select>
        </div>
        <div class="fomr-group" style="margin-bottom: 10px">
          <label>Fee</label>
          <input
            type="number"
            step="0.01"
            name="Fee"
            formControlName="Fee"
            class="form-control"
          />
        </div>
        <div class="fomr-group" style="margin-bottom: 10px">
          <label>Service Cgarge</label>
          <input
            type="number"
            step="0.01"
            name="ServiceCharge"
            formControlName="ServiceCharge"
            class="form-control"
          />
        </div>
        <div class="fomr-group" style="margin-bottom: 10px">
          <label>Sort</label>
          <input
            name="Sort"
            type="number"
            formControlName="Sort"
            class="form-control"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark btn-sm"
        (click)="createPhase()"
      >
        Create
      </button>
    </div>
  </ng-template>
</div>
