<div class="setting-desk">
  <h2 class="text-center">Category(s) and Phase(s) Settings</h2>
  <div>
    <div class="table-group">
      <div class="table-wrapper">
        <generic-table
          [table_title]="tableTitles.categories"
          [table_keysMappedToHeaders]="categoryTableKeysMappedToHeaders"
          [table_content]="categories"
          (onAddData)="onAddData($event, 'category')"
          (onDeleteData)="onDeleteData($event, 'category')"
        ></generic-table>
      </div>

      <div class="table-wrapper">
        <generic-table
          [table_title]="tableTitles.phases"
          [table_keysMappedToHeaders]="phasesTableKeysMappedToHeaders"
          [table_content]="phases"
          (onAddData)="onAddData($event, 'phase')"
          (onDeleteData)="onDeleteData($event, 'phase')"
        ></generic-table>
      </div>
    </div>

    <div class="table-wrapper">
      <generic-table
        [table_title]="tableTitles.permitStages"
        [table_keysMappedToHeaders]="permitStagesTableKeysMappedToHeaders"
        [table_content]="permitStages"
        (onAddData)="onAddData($event, 'permitStages')"
        (onDeleteData)="onDeleteData($event, 'permitStage')"
      ></generic-table>
    </div>
  </div>
</div>
