button {
  margin: 16px 8px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container {
  min-height: fit-content;
  width: 98%;
  max-width: 100%;
  overflow-x: auto;
  margin: 10px;
}

table {
  width: 100%;
}

td,
th {
  width: fit-content;
}

.table-controls {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.table-title {
  text-align: center;
  padding-top: 50px;
  font-weight: bolder;

  @apply flex items-center justify-center pb-4;
}

.red {
  @apply bg-red-100 text-red-600;
}

.green {
  @apply bg-green-100 text-green-600;
}

.slate {
  @apply bg-slate-100 text-slate-600;
}

.yellow {
  @apply bg-yellow-100 text-yellow-600;
}

.blue {
  @apply bg-blue-100 text-blue-600;
}

.purple {
  @apply bg-purple-100 text-purple-600;
}

.margin-left {
  margin-right: 20px;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.table-group {
  display: flex;
  flex-direction: column;
}
