<div class="container" style="box-shadow:0 0 5px #c5c5c5; padding: 0 15px 20px 15px; background:white;">
    <div class="panel-body">

        <div class="table-group">
            <div class="table-wrapper">
              <generic-table
                [table_title]="tableTitles.app"
                [title-color]="'yellow'"
                [table_keysMappedToHeaders]="applicationTableKeysMappedToHeaders"
                [table_content]="applications"
              ></generic-table>
            </div>
        </div>

    </div>
</div>

<br><br><br>