<h2 mat-dialog-title class="text-center">APPLICATION ID :</h2>
<div mat-dialog-content class="content">
  <div class="application-view">
    <app-application-view-table
      [application]="application"
    ></app-application-view-table>
  </div>
  <div class="application-controls">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> CURRENT DESK </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Company</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> APPLICATION HISTORY </mat-panel-title>
      </mat-expansion-panel-header>
      <p>application history...</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> SCHEDULE(S) </mat-panel-title>
      </mat-expansion-panel-header>
      <p>schedules...</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> INSPECTION FORM(S) </mat-panel-title>
      </mat-expansion-panel-header>
      <p>inspection forms...</p>
    </mat-expansion-panel>

    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> APPLICATION REPORTS </mat-panel-title>
      </mat-expansion-panel-header>
      <p>application reports</p>
    </mat-expansion-panel> -->

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> EXTRA PAYMENTS </mat-panel-title>
      </mat-expansion-panel-header>
      <p>extra payments</p>
    </mat-expansion-panel>
  </div>
  <div class="application-controls">cocntrols</div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
