<li class="nav-item">
    <a routerLinkActive="active" href="#" class="nav-link" style="margin-bottom: 25px;">
        <i class="ni fa fa-cog text-info"></i>
        Staff Desk
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" style="margin-bottom: 25px;" aria-expanded="false" data-toggle="collapse" data-target="#apps">
        <i class="ni fab fa-accessible-icon"></i>
        Applications
    </a>
    <ul class="collapse" data-toggle="collapse" id="apps">
        <li>
            <a href="#">
                <span>All Applications</span>
            </a>
        </li>
    </ul>
</li>
