<div>
    <div>
        <span class="card dsh-cards">
            <span class="dsh-cards-items">
                <span>0</span>
                <i class="fa fa-cart-arrow-down" style="font-size: larger; float: right;"></i>
            </span>
            <span>
                <a href="#">
                    My Desk
                </a>            
            </span>
        </span>
        <span class="card dsh-cards">
            <span class="dsh-cards-items">
                <span>0</span>
                <i class="fa fa-solid fa-check" style="font-size: larger; float: right;"></i>
            </span>
            <span>Total Applications Approved</span>
        </span>
        <span class="card dsh-cards">
            <span class="dsh-cards-items">
                <span>0</span>
                <i class="fa fa-cart-arrow-down" style="font-size: larger; float: right;"></i>
            </span>
            <span>Total Applications in Process</span>
        </span>
        <span class="card dsh-cards">
            <span class="dsh-cards-items">
                <span>0</span>
                <i class="fa fa-cart-arrow-down" style="font-size: larger; float: right;"></i>
            </span>
            <span>Total Applications Declined</span>
        </span>
    </div>
    <div class="dsh-items">
        <div class="col-md-5" style="float: left; margin-right: 5px;">
            <h2>Application(s) in process for the past three weeks</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Application Ref.</th>
                        <th>Company Name</th>
                        <th>Category</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-md-6" style="float: right">
            <h2>Application(s) on staff desk for the past five days</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Application Ref.</th>
                        <th>Company Name</th>
                        <th>Category</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>