<table class="table">
  <tbody>
    <tr>
      <th>Reference Number</th>
      <td>{{ application?.reference }}</td>
    </tr>
    <tr>
      <th>Company Name</th>
      <td>{{ application?.companyName }}</td>
    </tr>
    <tr>
      <th>Company Address</th>
      <td></td>
    </tr>
    <tr>
      <th>Company Email</th>
      <td></td>
    </tr>
    <tr>
      <th>Application Type</th>
      <td>{{ application?.applicationType }}</td>
    </tr>
    <tr>
      <th>Category</th>
      <td></td>
    </tr>
    <tr>
      <th>Permit Type</th>
      <td></td>
    </tr>
    <tr>
      <th>Stage</th>
      <td></td>
    </tr>
    <tr>
      <th>Location / Address</th>
      <td>{{ application?.location }}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{ application?.status }}</td>
    </tr>
    <tr>
      <th>Applied on</th>
      <td>{{ application?.addedDate }}</td>
    </tr>
    <tr>
      <th>Added Date</th>
      <td>{{ application?.addedDate }}</td>
    </tr>
  </tbody>
</table>
