.table {
  width: 100%;
  @apply shadow-lg;
}

.table tr:nth-child(odd) {
  background-color: #e9a6a6;
}

.table th,
td {
  @apply p-4 rounded-md;
}

.table th {
  background-color: #864879;
  @apply text-slate-100;
}
