<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/admin']">
      <img src="assets/image/NUPRC-logo-1.png" class="navbar-brand-img" alt="..." width="100">
      <span style="font-weight: bold; font-size: xx-large;">AUS II</span>
    </a>
    <!-- Collapse -->
    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <div>
        <hr />
        <div class="text-center">
          <a routerLinkActive="active" [routerLink]="'/admin'" class="nav-link">
            <!-- <i class="ni ni-tv-2 text-primary"></i> -->
            MAIN NAVIGATION
          </a>
        </div>
        <hr />
        <ul class="navbar-nav collapsible collapsible-accordion" [ngSwitch] = "user['userRoles']" id="side-menu">
          <div *ngSwitchCase="'SuperAdmin'" style="display: block; transition-property: height;">
            <app-superadmin-layout></app-superadmin-layout>
          </div>
          <div *ngSwitchCase="'Inspector'" style="display: block; transition-property: height;">
            <app-inspector-layout></app-inspector-layout>
          </div>
          <div *ngSwitchCase="'Supervisor'" style="display: block; transition-property: height;">
            <app-inspector-layout></app-inspector-layout>
          </div>
        </ul> 
      </div>
    </div>
  </div>
</nav>
