<div
  style="
    width: 85%;
    border: solid 2px rgb(128, 128, 128);
    margin-top: 35%;
    background-color: rgb(253, 253, 253);
    border-radius: 15px;
    box-shadow: 6px 6px 8px rgb(0, 0, 0, 0.3);
    margin-bottom: 5%;
    margin-top: 7%;
    margin-left: 10%;
  "
>
  <br />
  <div class="container">
    <h1
      style="
        padding: 10px 20px;
        border: none;
        background-color: teal;
        color: white;
      "
    >
      Application Payment Details
    </h1>

    <hr size="10" />

    <div class="payment-details__container">
      <h4>Please Note:</h4>
      <ol style="font-family: candara">
        <li>
          Processing of your application shall commence upon confirmation of
          payment
        </li>
        <li>
          Kindly review the following information carefully before proceeding to
          make payment
        </li>
        <li>
          Application information can not be changed after payment and
          submission have been completed
        </li>
      </ol>
      <div class="payment-details__table-container">
        <h2>Payment Details</h2>
        <hr />
        <div class="payment-details__table-wrapper">
          <table class="table" cellspacing="0">
            <tbody>
              <tr>
                <td class="bold">Reference No</td>
                <td></td>
              </tr>
              <tr>
                <td class="bold">Address / Location</td>
                <td></td>
              </tr>
              <tr>
                <td class="bold">Company Name</td>
                <td></td>
              </tr>
              <tr>
                <td class="bold">State</td>
                <td></td>
              </tr>
              <tr>
                <td class="bold">RRR</td>
                <td></td>
              </tr>
              <tr>
                <td class="bold">Status</td>
                <td></td>
              </tr>
              <tr>
                <td class="bold">Reference No</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div
            style="display: flex; justify-content: space-around; margin: auto"
          >
            <div style="text-align: center">
              <button
                style="
                  padding: 10px 20px;
                  border: none;
                  border-radius: 10px;
                  background-color: teal;
                  color: white;
                "
              >
                Go Back <span class="material-icons"> </span>
              </button>
            </div>

            <div style="text-align: center">
              <button
                class="submitbtn"
                style="
                  padding: 10px 20px;
                  border: none;
                  border-radius: 10px;
                  background-color: teal;
                  color: white;
                "
              >
                Make Payment <span class="material-icons"> </span>
              </button>
            </div>
            <br /><br />
          </div>
          <br /><br />
        </div>
      </div>
      <br /><br />
    </div>
  </div>
</div>
