/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
}

.collapsible-header {
  margin: 1rem;
}

.ni {
  padding-right: 1rem;
}

.st-desk {
  background-color: rgb(255, 255, 255);
  min-height: 35rem;
  padding: 2rem;
  border-radius: 5px;
  margin: 0 1.5rem 0 1.5rem;
}

button:disabled {
  cursor: not-allowed;
}

.success {
  background-color: #40a64a;
  color: rgb(255, 255, 255);
}

.warning {
  background-color: #fcbf1f;
  color: rgb(255, 255, 255);
}

.error {
  background-color: #d53343;
  color: rgb(255, 255, 255);
}

.hidden {
  @apply invisible opacity-0 transition-all ease-in-out delay-75 duration-300;
}

.block {
  @apply visible opacity-100 transition-all ease-in-out delay-1000 duration-1000;
}

.page-title {
  box-shadow: 0px 4px 5px 0px #888888;
  @apply text-center py-6 mb-6 rounded-full;
}

.setting-desk {
  background-color: #e5f0f6;
  min-height: fit-content;
  padding: 2rem;
  border-radius: 5px;
  margin: 0 1.5rem 0 1.5rem;
}

.table-wrapper {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
